<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Mercado Liebre</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    rel="stylesheet" />
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    
</head>
<body>
    <header class="barra-navegacion">
        <!-- Encabezado -->
        <div class="main-header-top-bar">
            <img src="img/logo-mercado-liebre.svg" alt="Mercado Libre" class="logo">
            <!-- Barra de busqueda -->
            <br>
            <form action="/" id="busqueda" class="form-search">
                <input type="text" placeholder="Buscar productos, marcas"  >
                <button><i class="fas fa-search"></i></button>
            </form>

            <!-- Lugar para texto -->
            <h2 class="copy-header">
                <i class="fas fa-hand-holding-usd"></i>
                Compra en cuotas y sin tarjeta de credito 
            </h2>
            
        </div>    
        <!-- Navbar -->
        
        <a href="#" class="hamburguer-button">
            <i class="fas fa-bars"></i>
        </a>
        <div class="container">
            <div class="burger-menu">
                
            </div>
        </div>
        <nav class="main-navbar">
            <ul class="left-navbar">
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>

            <ul class="rigth-navbar">
                <li><a href="/register">Crea tu cuenta <i class="fas fa-credit-card"></i></a>
                <li><a href="/login">Ingresa <i class="fas fa-sign-out-alt"></i></a>
                <li><a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a>
            </ul>
        </nav>
        
      
    </header>
    
    <main>
        <!-- Contenido principal -->

        <img src="/img/img-home-banner.jpg" alt="banner" class="promo">
        
        <section>
            <header class="header-section">
                <h2 class="titulares">Basado en tu última vista</h2>
            </header>
            <div class="articles">
                <article>
                    <div>
                        <i class="far fa-heart"></i>
                    </div>
                    <img src="/img/img-cafetera-moulinex.jpg" alt="cafetera" class="img-product">
                    <i class="fas fa-truck"></i>
                    <br>
                    <div class="descripcion">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque earum commodi sed omnis, alias iure inventore laborum atque rerum animi debitis ut maiores dolor amet enim cum culpa quos quasi?</p>
                    </div>
                    <h3 class="product-title">Cafetera Moulinex</h3>
                    <div class="monto">
                        <p class="precios">$6770</p>
                        <p class="descuento">40% OFF</p>
                    </div>                   
                    <p class="shipping">Envío gratis</p>
                </article>
                <article>
                    <div>
                        <i class="far fa-heart"></i>
                    </div>
                    <img src="/img/img-macbook-pro-2019.jpg" alt="cafetera" class="img-product">
                    <i class="fas fa-truck"></i>
                    <br>
                    <div class="descripcion">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque earum commodi sed omnis, alias iure inventore laborum atque rerum animi debitis ut maiores dolor amet enim cum culpa quos quasi?</p>
                    </div>
                    <h3 class="product-title">MacBook Pro 2019</h3>
                    <div class="monto">
                        <p class="precios">$230000</p>
                        <p class="descuento">20% OFF</p>
                    </div>
                    <p class="shipping">Envío gratis</p>
                </article>
                <article>
                    <div>
                        <i class="far fa-heart"></i>
                    </div>
                    <img src="/img/img-samsung-galaxy-s10.jpg" alt="cafetera" class="img-product">
                    <i class="fas fa-truck"></i>
                    <br>
                    <div class="descripcion">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque earum commodi sed omnis, alias iure inventore laborum atque rerum animi debitis ut maiores dolor amet enim cum culpa quos quasi?</p>
                    </div>
                    <h3 class="product-title">Samsung Galaxy S10</h3>
                    <div class="monto">
                        <p class="precios">$70500</p>
                        <p class="descuento">10% OFF</p>
                    </div>
                    <p class="shipping">Envío gratis</p>
                </article>
                <article>
                    <div>
                        <i class="far fa-heart"></i>
                    </div>
                    <img src="/img/img-tv-samsung-smart.jpg" alt="cafetera" class="img-product">
                    <i class="fas fa-truck"></i>
                    <br>
                    <div class="descripcion">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque earum commodi sed omnis, alias iure inventore laborum atque rerum animi debitis ut maiores dolor amet enim cum culpa quos quasi?</p>
                    </div>
                    <h3 class="product-title">SmartTv Samsung 43"</h3>
                    <div class="monto">
                        <p class="precios">$23200</p>
                        <p class="descuento">5% OFF</p>
                    </div>
                    <p class="shipping">Envío gratis</p>
                </article>

                <article>
                    <div>
                        <i class="far fa-heart"></i>
                    </div>
                    <img src="/img/img-cafetera-moulinex.jpg" alt="cafetera" class="img-product">
                    <i class="fas fa-truck"></i>
                    <br>
                    <div class="descripcion">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque earum commodi sed omnis, alias iure inventore laborum atque rerum animi debitis ut maiores dolor amet enim cum culpa quos quasi?</p>
                    </div>
                    <h3 class="product-title">Cafetera Moulinex</h3>
                    <div class="monto">
                        <p class="precios">$6770</p>
                        <p class="descuento">40% OFF</p>
                    </div>                   
                    <p class="shipping">Envío gratis</p>
                </article>
                <article>
                    <div>
                        <i class="far fa-heart"></i>
                    </div>
                    <img src="/img/img-macbook-pro-2019.jpg" alt="cafetera" class="img-product">
                    <i class="fas fa-truck"></i>
                    <br>
                    <div class="descripcion">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque earum commodi sed omnis, alias iure inventore laborum atque rerum animi debitis ut maiores dolor amet enim cum culpa quos quasi?</p>
                    </div>
                    <h3 class="product-title">MacBook Pro 2019</h3>
                    <div class="monto">
                        <p class="precios">$230000</p>
                        <p class="descuento">20% OFF</p>
                    </div>
                    <p class="shipping">Envío gratis</p>
                </article>
    
            </div>
            
            
        </section>
        <section>
      
            <header class="header-section">
                <h2 class="titulares">Ofertas</h2>
            </header>
            <div class="articles">
                <article>
                    <div>
                        <i class="far fa-heart"></i>
                    </div>
                    <img src="/img/img-cafetera-moulinex.jpg" alt="cafetera" class="img-product">
                    <i class="fas fa-truck"></i>
                    <br>
                    <div class="descripcion">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque earum commodi sed omnis, alias iure inventore laborum atque rerum animi debitis ut maiores dolor amet enim cum culpa quos quasi?</p>
                    </div>
                    <h3 class="product-title">Cafetera Moulinex</h3>
                    <div class="monto">
                        <p class="precios">$6770</p>
                        <p class="descuento">40% OFF</p>
                    </div>
                    <p class="shipping">Envío gratis</p>
                </article>
                <article>
                    <div>
                        <i class="far fa-heart"></i>
                    </div>
                    <img src="/img/img-macbook-pro-2019.jpg" alt="cafetera" class="img-product">
                    <i class="fas fa-truck"></i>
                    <br>
                    <div class="descripcion">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque earum commodi sed omnis, alias iure inventore laborum atque rerum animi debitis ut maiores dolor amet enim cum culpa quos quasi?</p>
                    </div>
                    <h3 class="product-title">MacBook Pro 2019</h3>
                    <div class="monto">
                        <p class="precios">$230000</p>
                        <p class="descuento">20% OFF</p>
                    </div>
                    
                    <p class="shipping">Envío gratis</p>
                </article>
                <article>
                    <div>
                        <i class="far fa-heart"></i>
                    </div>
                    <img src="/img/img-samsung-galaxy-s10.jpg" alt="cafetera" class="img-product">
                    <i class="fas fa-truck"></i>
                    <br>
                    <div class="descripcion">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque earum commodi sed omnis, alias iure inventore laborum atque rerum animi debitis ut maiores dolor amet enim cum culpa quos quasi?</p>
                    </div>
                    <h3 class="product-title">Samsung Galaxy S10</h3>
                    <div class="monto">
                        <p class="precios">$70500</p>
                        <p class="descuento">10% OFF</p>
                    </div>
                    <p class="shipping">Envío gratis</p>
                    
                </article>
                <article>
                    <div>
                        <i class="far fa-heart"></i>
                    </div>
                    <img src="/img/img-tv-samsung-smart.jpg" alt="cafetera" class="img-product">
                    <i class="fas fa-truck"></i>
                    <br>
                    <div class="descripcion">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque earum commodi sed omnis, alias iure inventore laborum atque rerum animi debitis ut maiores dolor amet enim cum culpa quos quasi?</p>
                    </div>
                    <h3 class="product-title">SmartTv Samsung 43"</h3>
                    <div class="monto">
                        <p class="precios">$23200</p>
                        <p class="descuento">5% OFF</p>
                    </div>
                    
                    <p class="shipping">Envío gratis</p>
                    
                </article>
            </div>
            
        </section>


    </main>


    <footer>

        <div class="footer-text">
            <div>
                <i class="fas fa-credit-card" id="icono"></i>
                <p><strong>Pagá con tarjeta o en efectivo</strong></p>
                <p>Con Mercado Libre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
            </div>
            
            <div>
                <i class="fas fa-gift" id="icono"></i>
                <p><strong>Envío gratis desde $2.500</strong></p>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
            </div>
            <div>
                <i class="fas fa-user-shield" id="icono"></i>
                <p><strong>Seguridad, de principio a fin</strong></p>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
            </div>
        </div>
        
        <p><small>Copyright © 1999-2020 MercadoLiebre S.R.L.</small></p>

    </footer>

</body>
</html>