* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
  
}

body {
    background-color: #ebebeb;;
    font-family: 'Roboto', sans-serif;
}
/* Estilos para la barra de navegacion*/
.barra-navegacion {
    background-color: #EAC926;
    padding: 20px;
}

.copy-header{
    
    font-weight: 400;
    text-align: center;
    margin: 20px 0;
    font-size: 20px;
}
.form-search input{
    flex-grow: 1;
    width: 200px;
    padding: 8px;
    border: none;
    border-radius: 3px;
    font-size: 14px;
}

.form-search button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 8px 15px;
    cursor: pointer;
}

.hamburguer-button{
    background-color: #03264C;
    color: #FFFFFF;
    display: block;
    max-width: 50px;
    padding: 15px 0;
    border-radius: 8px;
    text-align: center;
    font-size: 18px;
    margin: auto;
}

.main-navbar{
    display: none;
}
.main-navbar ul{
    list-style: none;
    margin: 0;
    padding: 0;

}
.main-navbar ul a{
    text-decoration: none;
    color: #222222;
    display: inline-block;
    padding: 5px 0;
    font-size: 17px;
}

.logo{
    width: 200px;
}

#busqueda {
    text-align: center;
    margin: 20px;
}

/* estilos para el main */

.login-form {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 90%;
    max-width: 400px; /* Limita el ancho del formulario para una mejor legibilidad en dispositivos móviles */
    text-align: center;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
}

.login-form h2 {
    color: #007bff; /* Color azul */
}

.login-form label {
    display: block;
    margin: 15px 0 5px;
    color: #333;
    text-align: left;
}

.login-form input {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.login-form button {
    background-color: #007bff; /* Color azul */
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.login-form button:hover {
    background-color: #0056b3; /* Color azul más oscuro al pasar el cursor */
}





footer{
    background-color: #ffff;
}

footer div{
    text-align: center;
    padding: 35px;
    color: #666;
}

footer div i{
    color: #1259c3;
    font-size: 30px;
    
}




/* Medias queries */

/* Tablets */
@media (min-width: 768px) {
    body {
        background-size: contain;
    }
    .logo{
        width: 150px;

    }
    .form-search{
        display: flex;
    }
    .form-search input{
        width: 300px;
    }
   
    .main-header-top-bar{
        display: flex;
        justify-content: space-between;
    }
    .copy-header{
        max-width: 250px;
        text-align: right;
        font-size: 15px;
    }
    .hamburguer-button{
        display: none;
    }

    .main-navbar{
       
        display: flex;
        justify-content: space-between;
    }
    .main-navbar ul{
        display: flex;
    }
    .main-navbar li{
        margin: 0 5px; 
         
    }

 

}


/* Laptops */
@media (min-width: 1024px) {
    body {
       margin: 0;
    }
    .logo{
        width: 300px;
    }
    .main-navbar{
        margin-top: 50px;
    }
    .main-header-top-bar, .main-navbar{
        max-width: 1400px;
        margin: auto;
    }   
    .main-header-top-bar{
        align-items: center;
    }
    .main-navbar li{
        margin: 0 10px; 
         
    }
    .main-navbar a{
        font-size: 19px;
    }
    .copy-header{
        max-width: none;
        text-align: right;
    }
    
    .submit-button:hover {
        background-color: #0022AA;
    }


    .footer-text{
        display: flex;
    }


    #icono:hover{
        color: #00A859;
        font-size: 40px;
    }
    


}