*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
}
body{
    background-color: #666;
    
}



.barra-navegacion{
    background-color: #EAC926;
    margin: 0; 
    padding: 0; 
    display: inline-block;
    width: 100vh;
    
}
.promo{
    width: 100vh;
    height: auto;
}

.pagar{
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
}
.burger-menu {
    background-color: #03264C;; 
    padding: 10px; 
    display: inline-block;
    border-radius: 10%;
    
}
  
.burger-menu i {
    color: white; 
    font-size: 24px; 
}


main{
    width: 90%;
    height: auto;
}

section article{
    background-color: #ffffff;


}


section article img{
    width: 100%;
}

.titulares{
    font-size: 24px;
}

#busqueda{
    margin: 20px;
}

#logo{
    display: inline;
}
#banner{
    
    width: 250px; 
    height: auto; 
    margin: 10px;
    
}

.precios{
    font-size: 18px;
}

.descuento{
    font-size: 16px;
    text-align: left;
}

.descripcion{
    font-size: 16px;
}

footer{
    background-color: #ebebeb;
    width: 100vh;
}

footer div p{
    font-size: 12px;
    text-align: center;
}

#icono{
    font-size: 3em; 
    color: #1259C3;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8vh;
}

.copi{
    position: fixed;
    bottom: 0;
    left: 0;
    margin: 10px;
}



/* Medias queries */
/* Tablets */
@media ( min-width: 768px ){
    body{
        background-size: contain;
      
    }
}
/* Laptops */

@media ( min-width: 1024px ){
    body{
        background-size: 100vw;
    }
}

